{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5434;Database=ezmatch;Username=ezmatch;Password=ezmatch_dev"
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "Debug",
      "Override": {
        "Microsoft.AspNetCore": "Information",
        "Microsoft.EntityFrameworkCore": "Warning"
      }
    }
  },
  "Bot": {
    "ApiKey": "dev-only-bot-key-cambiar-en-produccion-0123456789"
  },
  "Seed": {
    "ChatwootInboxId": "1"
  }
}
